<div class="container" >
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div>
    <table style="text-align=right;" class="table table-hover table-striped table-bordered" ng-if ="friend.friends[0]">
      <caption><h3>Друзья</h3></caption>
      <tr ng-repeat='awesome in friend.friends'  ng-show="awesome.id" >
        <th  scope="col"><p><img src="{{awesome.face}}" width="35" height="35" alt='Фотография'>  {{awesome.login}}</p></th>
        <th ><md-button class="md-primary" type="button" ng-click="friend.deleteFollows(awesome)">Отписаться</md-button></th>

      </tr>
    </table>
    <table class="table table-hover table-striped table-bordered" ng-if="friend.subscriber[0]">
      <caption><h3>Мои подписчики</h3></caption>
      <tr ng-repeat='awesome in friend.subscriber' ng-show="awesome.id">
        <th  scope="col" ><p><img src="{{awesome.face}}" width="35" height="35" alt='Фотография'>  {{awesome.login}}</p></th>
        <th><md-button class="md-primary" type="button" ng-click="friend.follow(awesome)" ng-show="awesome.id">Подписаться</md-button></th>

      </tr>
    </table>
    <table class="table table-hover table-striped table-bordered" ng-if ="friend.followed[0]">
      <caption><h3>Мои подписки</h3></caption>
      <tr ng-repeat='awesome in friend.followed'>
        <th scope="col"><p><img src="{{awesome.face}}" width="35" height="35" alt='Фотография'>  {{awesome.login}}</p></th>
        <th><md-button class="md-primary" type="button">Отписаться</md-button></th>

      </tr>
    </table>


  </div>
  <table id="cssTable" ng-if ="friend.friends[0]">
    <caption><h3>Друзья</h3></caption>
    <tr ng-repeat='awesome in friend.friends'  ng-show="awesome.id" >
      <td style="text-align: center; vertical-align: middle;"><p><img src="{{awesome.face}}" width="35" height="35" alt='Фотография'>  {{awesome.login}}</p></td>
      <td style="text-align: center; vertical-align: middle;"><md-button class="md-primary" type="button" ng-click="friend.deleteFollows(awesome)">Отписаться</md-button></td>

    </tr>
  </table>

</div>
