
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div flex="100" class="container" >
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>


  <div layout="row" >
    <div flex-gt-sm="20" flex="33" layout-align="start center">
      <div layout-gt-sm="column">
  <md-input-container layout-gt-sm="60" flayout-gt-sm-offset="20">

  <md-select ng-model="friendss" placeholder="Выберите тип оношения">
    <md-option value="friend" ng-click="friend.show(0)">Друзья</md-option>
    <md-option value="follows" ng-click="friend.show(1)">Я подписан</md-option>
    <md-option value="subscriber" ng-click="friend.show(2)">На меня подисаны</md-option>
  </md-select>
  </md-input-container>
      </div>
  <table ng-show="friend.tableKey[0]" ng-if ="friend.friends[0]">


    <tr ng-repeat='awesome in friend.friends'  ng-show="awesome.id" >
      <td ><p ng-click="friend.showPost(awesome.id)"><img src="{{awesome.face}}" width="35" height="35" alt='Фотография'>  {{awesome.login}}</p></td>
      <td ><md-button class="md-primary" type="button" ng-click="friend.deleteFollows(awesome)">Отписаться</md-button></td>

    </tr>
  </table>

  <table  ng-show="friend.tableKey[1]" ng-if ="friend.followed[0]">
    <tr ng-repeat='awesome in friend.followed' ng-show="awesome.id">
      <td  ><p ng-click="friend.showPost(awesome.id)"><img src="{{awesome.face}}" width="35" height="35" alt='Фотография'>  {{awesome.login}}</p></td>
      <td  ><md-button class="md-primary" type="button" ng-click="friend.deleteFollows1(awesome)">Отписаться</md-button></td>

    </tr>
  </table>
  <table ng-show="friend.tableKey[2]"  ng-if="friend.subscriber[0]">
    <tr ng-repeat='awesome in friend.subscriber' ng-show="awesome.id">
      <td  ><p ng-click="friend.showPost(awesome.id)" style="outline: none;"><img src="{{awesome.face}}" width="35" height="35" alt='Фотография'>  {{awesome.login}}</p></td>
      <td ><md-button class="md-primary" type="button" ng-click="friend.follow(awesome)" ng-show="awesome.id">Подписаться</md-button></td>

    </tr>
  </table>
    </div>

    <div flex-gt-sm="80" flex="66" >
      <div class="virtualRepeatdemoDeferredLoading">
        <md-content layout="column">
          <md-virtual-repeat-container id="vertical-container">
            <div md-virtual-repeat="posts in friend.testOneDataPerson" md-on-demand
                 class="repeated-item fig">
              <h2 flex="noshrink">{{posts.message}}  {{posts.name}}</h2><br>
              <div> <p class='fig'><img src="{{posts.image}}" width="80%" height="400vh" alt='Фотография'></p>
                <div ng-if="!posts.reactions[0]"><!--ng-if='!posts.reactions[0].reaction'--><br>
                  <button type="button" class="btn btn-success" ng-click="friend.getReaction(1,posts)"  >Yes</button>
                  <button type="button" class="btn btn-danger" ng-click="friend.getReaction(0,posts)" >No</button></div>
                <div class="progressB" ng-if="posts.reactions[0]" ><br><prbar></prbar></div>

              </div>

            </div>
          </md-virtual-repeat-container>
        </md-content>
      </div>
    </div>
    </div>





  </div>




