<div class="my">
  <form ng-submit="reg.submit()">
    <div class="form-group">
      <label for=""><h2>Enter your future Login</h2></label>
    <input class="form-control" type="text" ng-model="reg.dataUsers.login">
    </div>
    <p></p>
    <div class="form-group">
      <label for=""><h2>Enter your Password</h2></label>
    <input class="form-control" type="text" ng-model="reg.dataUsers.password">
    <p></p>
  </div>
    <button>Post</button>
  </form>
<!--{{reg.info}}-->
  {{reg.ret}}
</div>
