<div layout="row" layout-align="center center" layout-wrap>
  <form flex = "60" flex-gt-sm="20" class="dialog-demo-content" ng-submit="authorization.submit()" ng-if="authorization.show==1">
    <div class="form-group">
      <label for="" class="login-text "><h4>Email</h4></label>
      <input type="text" class="form-control" ng-model="authorization.Users.email">
    </div>
    <div class="form-group">
      <label for="" class="login-text "><h4>Password</h4></label>
      <input type="password" class="form-control" ng-model="authorization.Users.password">
    </div>

    <p><a ui-sref="registr" class="login-text-a ">Registration    </a>
    <a ng-click="authorization.forgotPass()" class="login-text-a ">Забыли пароль?</a>
    </p><br>

    <button class="btn btn-block btn-primary"><h5 class="login-text ">Авторизация</h5></button>
  </form>
  <div flex = "60" flex-gt-sm="20" class="dialog-demo-content" ng-if="authorization.show==0">
    <p>Введите свой email  и на него будет выслан код подтверждения после чего вы сможет изменить пароль</p>
    <form  ng-submit="authorization.getCode(authorization.emailGetCode)" >
      <div class="form-group">
        <label for="" class="login-text "><h4>Email</h4></label>
        <input input class="form-control" required type="email" ng-model="authorization.emailGetCode.email "  minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
        <br>
        <button class="btn btn-primary" ng-hide="authorization.showNewPass==2" >Получить код</button>
      </div>
    </form>
    <form  ng-submit="authorization.refreshPass()" ng-if="authorization.showNewPass==2">
      <div class="form-group">
        <label for="" class="login-text "><h4>Пароль</h4></label>
        <input input class="form-control" required type="name" ng-model="authorization.newPass.pass " >
        <br>
      </div>

      <div class="form-group">
        <label for="" class="login-text "><h4>Код с вашей почты</h4></label>
        <input input class="form-control" required type="name" ng-model="authorization.newPass.code " >
        <br>
      </div>
      <button class="btn btn-primary" class="login-text ">Изменить пароль</button>
    </form>
  </div>

</div>

