<div layout="row">
  <form flex = "20" flex-offset="40" class="dialog-demo-content" ng-submit="authorization.submit()">
    <div class="form-group">
      <label for=""><h4>Password</h4></label>
      <input type="password" class="form-control" ng-model="authorization.Users.password">
    </div>
    <div class="form-group">
      <label for=""><h4>Email</h4></label>
      <input type="text" class="form-control" ng-model="authorization.Users.email">
    </div>
    <a ui-sref="registr"><h4>Registration</h4></a>
    <button><h5>Авторизация</h5></button>
  </form>

</div>

