<div class="container">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>
  <!--{{privatePost.dataPosts}}-->
  <!--{{privatePost.Hello}}-->
  <div class="mySearch">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search" ng-model="searchText">

  </form>
  </div>
  <div class='fig' ng-repeat='posts in privatePost.dataPosts.posts | filter:searchText'> <h2>{{posts.message+posts.name}}</h2>
    <div><p class='fig'><img src="{{posts.image}}"  width="500" height="500" alt='Фотография'></p>
      <div ng-if='main.checkReaction(posts.id)'><button type=\"button\" class="btn btn-success" ng-click="main.getReaction(1,posts)" >Yes</button><button type=\"button\" class="btn btn-danger" ng-click="main.getReaction(0,posts)" >No</button></div>
      <div class=\"progressB\" ng-if = 'main.checkMyReaction(posts)'><prbar></prbar></div>"+"<div ng-repeat='Person in main.info'><h4 ng-if = 'Person.id == posts.voted' >{{main.addName(Person,posts )}}<img  ng-src=\"{{main.addFace(Person,posts)}}\" width=\"35\" height=\"35\" alt='Фотография'>"
        <button type=\"button\" class="btn btn-lg btn-success" ng-click="main.showFollows(Person,posts)" >Подписаться</button></h4></div>
      </div></div>
</div>
