<div  layout="row" layout-align="center center" layout-align-xs="space-between start">
  <div flex="70">
  <div style=" background-color: #f5f5f5; border-bottom: 2px solid #ddd;" layout="row" layout-align="space-between center">
  <acme-navbar creation-date="main.creationDate" flex="40"></acme-navbar>
  </div>
  </div>

  <md-menu hide-gt-xs show-xs flex>
    <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-mouseenter="$mdMenu.open()">
      <md-icon>note</md-icon>
    </md-button>
    <md-menu-content width="4" ng-mouseleave="$mdMenu.close()" class="">
      <md-menu-item>
        <md-button ng-click="profile.PageContect(1)">My public posts</md-button>
      </md-menu-item>
      <md-menu-item ng-click="profile.PageContect(2)">
        <md-button>My private posts</md-button>
      </md-menu-item>
      <md-menu-item ng-click="profile.PageContect(0)">
        <md-button>Change Info about yourself</md-button>
      </md-menu-item>

      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>

<div class="center-block" flex="70">
  <div>

    <div hide-xs flex>
      <md-content class="md-padding contentPost" >
        <md-nav-bar
          md-no-ink-bar="disableInkBar"
          md-selected-nav-item="currentNavItem"
          nav-bar-aria-label="navigation links">
          <md-nav-item md-nav-click="profile.PageContect(1)" name="page1">
            My public posts
          </md-nav-item>
          <md-nav-item md-nav-click="profile.PageContect(2)" name="page2" ng-disabled="secondTabDisabled">
            My private posts
          </md-nav-item>
          <md-nav-item md-nav-click="profile.PageContect(0)" name="page3">
            Change Info about yourself
          </md-nav-item>
        </md-nav-bar>
    </div>


    <div class="virtualRepeatdemoDeferredLoading container" ng-if="profile.checkMenu==1">
      <md-content layout="column" class="contentPost">
        <md-virtual-repeat-container id="verticall-container">
          <div layout="column" layout-align="center stretch" md-virtual-repeat="posts in profile.allPublicPosts"
               md-on-demand
               class="repeate-item">

            <b class='postText'>{{posts.message+" "+posts.name}}</b><br>
            <div flex="70"><img ng-src="{{posts.image}}" class="imgMyOne" alt='Фотография'>

              <br>
            </div>
            <div flex="10" class="progressB"><br>
              <prbar></prbar>
              <md-button ng-click="profile.DeletePost(posts)">Удалить</md-button>
            </div>


          </div>
        </md-virtual-repeat-container>
      </md-content>
    </div>

    <div class="virtualRepeatdemoDeferredLoading container" ng-if="profile.checkMenu==2">
      <md-content layout="column" class="contentPost">
        <md-virtual-repeat-container id="verticall-container">
          <div layout="column" layout-align="center stretch" md-virtual-repeat="posts in profile.allPublicPosts"
               md-on-demand
               class="repeate-item ">

            <b class='postText'>{{post.message+" "+post.name}}</b><br>
            <div flex="70"><img ng-src="{{post.image}}" class="imgMyOne" alt='Фотография'>

              <br>

            </div>
            <div flex="10" class="progressB"><br>
              <prbar></prbar>
              <md-button
                ng-click="profile.DeletePost(posts)">Удалить
              </md-button>
            </div>

          </div>
        </md-virtual-repeat-container>
      </md-content>
    </div>
    <div class="center-block dialog-demo-content" ng-if="profile.checkMenu==0">
      <div layout="column" layout-align="space-around center">
        <img layout-align-xs="20" flex="40" ng-src="{{profile.myFace}}"
             style="height: calc(50px + 20vh); width: calc(50px + 30vw); max-height: 400px; max-width: 300px" alt="Foto">
          <br>

        <div flex = "60" flex-gt-sm="40" >
          <form ng-submit="profile.submit()">
            <div class="form-group">
              <label for="">Текущий пароль</label>
              <input type="text" class="form-control" ng-model="profile.info.oldPassword">
            </div>
            <div class="form-group">
              <label for="">Новый пароль</label>
              <input type="text" class="form-control" ng-model="profile.info.newPassword">
            </div>
            <md-button type="submit">Отправить</md-button>
          </form>
          <br>
          <br>
          <form ng-submit="profile.removeFace()">
            <div class="form-group">
              <label for="">Изменить фото</label>
              <!--<input type="file" name="" id="" file-model="profile.face.image">-->
              <label class="md-button md-raised"><b style ="font-family: 'sans-serif'; font-size: 12px">Новое фото</b>  <input type="file" name="" id="" file-model="profile.face.image" hidden></label>

              <p></p>
            </div>
            <md-button type="submit" class="md-raised md-primary">Отправить</md-button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

