.browsehappy {
  margin: 0.2em 0;
  background: #c12e2a;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 40px;
}
.fig {
  text-align: center; /* Выравнивание по центру */
}
.my {
  position: fixed;
  border: 4px double black;;
  top: 30%;
  left: 55%;
  margin-top: -200px;
  margin-left: -200px;
}
.mySearch {
  position: fixed;
  top: 30%;
  left: 55%;
  margin-top: -220px;
  margin-left: 250px;
}
.progressB {
  margin: auto;
  width: 20%;
}
.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.0s;
}

.check-element {
  border: 0px solid black;
  opacity: 1;
  padding: 10px;
}
[hidden] {
  display: none !important;
}

.td
{
  height: 50px;
  width: 50px;
}

#cssTable .td
{
  text-align: center;
  vertical-align: middle;
}

.virtualRepeatdemoDeferredLoading #vertical-friend-container
{
  height:100vh;
  width: 100%;

}
.virtualRepeatdemoDeferredLoading #vertical-container {
  height:80vh;
  width: 100%;

  }

.virtualRepeatdemoDeferredLoading .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 70%;
  padding-top: 10px; }

.virtualRepeatdemoDeferredLoading md-content {
  margin: 16px; }

.virtualRepeatdemoDeferredLoading md-virtual-repeat-container {
  border: solid 0px grey; }

.virtualRepeatdemoDeferredLoading .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px; }
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }
.login-text {
  text-align: center;
  color: #000000;
  font-family: 'Lobster', cursive;
}
.login-text-a {
  text-align: center;
  color: #c12e2a;
  font-family: 'Lobster', cursive;
}
