<div layout="row">
  <form flex = "20" flex-offset="40" class="dialog-demo-content" ng-submit="reg.submit()" >
    <div class="form-group">
      <label for=""><h4>Enter your future Login</h4></label>
    <input class="form-control" required type="name" ng-model="reg.dataUsers.login">
    </div>
    <div class="form-group">
      <label for=""><h4>Enter your Password</h4></label>
    <input class="form-control" required type="password" ng-model="reg.dataUsers.password">
  </div>
    <div class="form-group">
      <label for=""><h4>Enter your Email</h4></label>
      <input class="form-control" required type="email" ng-model="reg.dataUsers.email "  minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
    </div>

    <button class="btn btn-primary">Регистрация</button>
  </form>

<!--{{reg.info}}-->
</div>
