



<div class="container">
  <div>
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

</div>
  <md-content class="md-padding" >
    <md-nav-bar
      md-no-ink-bar="disableInkBar"
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="profile.PageContect(1)" name="page1" >
        My public posts
      </md-nav-item>
      <md-nav-item md-nav-click="profile.PageContect(2)" name="page2" ng-disabled="secondTabDisabled" >
        My private posts
      </md-nav-item>
      <md-nav-item md-nav-click="profile.PageContect(0)" name="page3" >
        Change Info for me
      </md-nav-item>
    </md-nav-bar>



    <div class="virtualRepeatdemoDeferredLoading ng-cloak" ng-if = "profile.checkMenu==1" >
      <md-content layout="column">
        <md-virtual-repeat-container id="vertical-container" ng-cloak>
          <div md-virtual-repeat="posts in profile.allPublicPosts" md-on-demand
               class="repeated-item fig" >

            <h2>{{posts.message+posts.name+posts.reactions[0].reaction}}</h2><br>
            <div> <p class='fig'><img ng-src="{{posts.image}}" width="65%" height="500"  alt='Фотография'></p>
              <div class="progressB" ><br><prbar></prbar></div>
              <br>

              <button type="button" class=" check-element animate-show-hide btn btn-danger" ng-click="profile.DeletePost(posts)" >Удалить</button>

            </div>

          </div>
        </md-virtual-repeat-container>
      </md-content>
    </div>

    <div class="virtualRepeatdemoDeferredLoading ng-cloak" ng-if = "profile.checkMenu==2" >
      <md-content layout="column">
        <md-virtual-repeat-container id="vertical-container" ng-cloak>
          <div md-virtual-repeat="posts in profile.allPublicPosts" md-on-demand
               class="repeated-item fig" >

            <h2>{{posts.message+posts.name+posts.reactions[0].reaction}}</h2><br>
            <div> <p class='fig'><img ng-src="{{posts.image}}" width="65%" height="500"  alt='Фотография'></p>
              <div class="progressB" ><br><prbar></prbar></div>
              <br>

              <button type="button" class=" check-element animate-show-hide btn btn-danger" ng-click="profile.DeletePost(posts)" >Удалить</button>

            </div>

          </div>
        </md-virtual-repeat-container>
      </md-content>
    </div>


<div class="center-block" ng-if="profile.checkMenu==0">

  <form ng-submit="profile.submit()">
    <div class="form-group">
      <label for="">Текущий пароль</label>
      <input type="text" class="form-control" ng-model="profile.info.password">
    </div>
    <div class="form-group">
      <label for="">Новый пароль</label>
      <input type="text" class="form-control" ng-model="profile.info.newPassword">
    </div>
    <button>Отправить</button>
  </form>
  <br>
  <br>
  <form ng-submit="profile.removeFace()">
    <div class="form-group">
      <label for="">Изменить фото</label>
      <input type="file" name="" id="" file-model="profile.face.image">
      <p></p>
    </div>
    <button>Отправить</button>

  </form>
</div>
</div>
