<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="center-block" style=" width:80%;">
<div >
  <acme-navbar creation-date="main.creationDate"></acme-navbar>
</div>
<div layout="row" layout-align="center center">

<div flex="80" flex-gt-sm="80">
  <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter" ng-model="addPost.checkbox">
  <label for="subscribeNews">Приватный пост</label>
  <form ng-submit="addPost.submit()">
    <div class="form-group">
      <label for="">HashTeg</label>
      <input type="text" class="form-control" ng-model="addPost.dataUsers.hashteg" minlength="1" maxlength="20">
    </div>
    <div class="form-group">
      <label for="">Message</label>
      <input type="text" class="form-control" ng-model="addPost.dataUsers.message" minlength="1" maxlength="40" >
    </div>
    <div class="form-group">
      <label class="btn btn-default" >Add Image<input id="fileup" file-model="addPost.dataUsers.image" type="file" hidden> </label>
      <md-icon>add_a_photo</md-icon>
      <p></p>

    </div>

    <md-button type="submit">Добавить фото</md-button>
  </form>

</div>
</div>
</div>
