<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div layout="row" layout-align="center center">
<div flex="70">
  <div  style=" background-color: #f5f5f5; border-bottom: 2px solid #ddd;" layout="row" layout-align-xs="space-between center">
    <acme-navbar creation-date="main.creationDate" flex="40"></acme-navbar>
  </div>
  <div layout="row" layout-align="center center">

    <div flex = "60" flex-gt-sm="40">
      <md-checkbox ng-model="addPost.checkbox" aria-label="Checkbox">
        <b style ="font-family: 'sans-serif';"> Приватный пост</b>
      </md-checkbox>
      <!--<input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter" ng-model="addPost.checkbox">-->
      <!--<label for="subscribeNews"><b style =" font-family: 'sans-serif'; "> Приватный пост</b> </label>-->
      <form ng-submit="addPost.submit()">
        <div class="form-group">
          <label for=""><b style ="font-family: 'sans-serif';">ХэшТег</b></label>
          <input type="text" class="form-control" ng-model="addPost.dataUsers.hashteg" minlength="1" maxlength="20">
        </div>
        <div class="form-group">
          <label for=""><b style ="font-family: 'sans-serif';">Сообщение</b></label>
          <input type="text" class="form-control" ng-model="addPost.dataUsers.message" minlength="1" maxlength="40">
        </div>
        <div class="form-group">
          <label class="btn btn-default"> <b style ="font-family: 'sans-serif';">Добавить фото</b><input id="fileup" file-model="addPost.dataUsers.image" type="file"
                                                         hidden> </label>
          <md-icon>add_a_photo</md-icon>
          <md-button type="submit" class="md-raised md-primary">Опубликовать пост</md-button>
          <p></p>

        </div>

      </form>


    </div>
  </div>
  <div layout="row" layout-align="center center">

  <div   class=" addPostCard contentPost" id="vertical-container" flex = "100" flex-gt-sm="80">
    <md-card layout="column" layout-align="center stretch">
      <md-card-title flex="10">
        <md-card-title-text>
          <span class="md-headline center-block"> <b style="font-family: 'sans-serif'; font-weight: 300;">{{addPost.dataUsers.message+" "+ addPost.dataUsers.hashteg}}</b></span>

        </md-card-title-text>
      </md-card-title>
      <md-card-content flex="50" class="center-block">
        <div id ="preview"  class="imgMyOne" ></div>

      </md-card-content>
      <md-card-actions layout="column" layout-align="space-around center" flex="20">
        <p flex="50"><md-button ng-disabled="true">Yes</md-button>
          <md-button ng-disabled="true">No</md-button>
        </p>
      </md-card-actions>
    </md-card>
  </div>
  </div>
</div>
