<!--//{{main.allPublicPosts}}-->
<!--<div >-->
  <!--<div class="virtualRepeatdemoDeferredLoading ng-cloak" >-->
    <!--<md-content layout="column">-->
      <!--<md-virtual-repeat-container id="vertical-container" ng-cloak>-->
        <!--<div md-virtual-repeat="posts in main.allPublicPosts" md-on-demand-->
             <!--class="repeated-item fig">-->
          <!--<h2>{{posts.message+posts.name+posts.reactions[0].reaction}}</h2><br>-->
          <!--<div> <p class='fig'><img ng-src="{{posts.image}}" width="100%" height="500"  alt='Фотография'></p>-->
            <!--<div ng-show="!posts.reactions[0].reaction" ng-cloak>&lt;!&ndash;ng-if='!posts.reactions[0].reaction'&ndash;&gt;<br>-->
              <!--<button type="button" class="btn btn-success" ng-click="main.getReaction(1,posts)" >Yes</button>-->
              <!--<button type="button" class="btn btn-danger" ng-click="main.getReaction(0,posts)" >No</button></div>-->
            <!--<div class="progressB" ng-show="posts.reactions[0].reaction" ><br><prbar></prbar></div>-->

          <!--</div>-->

        <!--</div>-->
      <!--</md-virtual-repeat-container>-->
    <!--</md-content>-->
  <!--</div>-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">


  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>
  <div class="container">


    <section class="no-print" layout-align="end center" layout-padding flex>
      <div layout="row" layout-align="start center" flex>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="main.searchText" placeholder="Search posts" aria-describedby="addon">
        </div>
        <md-button class=" md-icon-button md-primary" data-dismiss="modal" type="submit" id="submit" value="Submit" ng-click="main.search(main.searchText)"><md-icon>search</md-icon></md-button>
      </div>
    </section>

</div>
  <div >

    <div class="virtualRepeatdemoDeferredLoading ng-cloak" ng-if="main.showPost==0">
      <md-content layout="column">
        <md-virtual-repeat-container id="vertical-container" ng-cloak>
          <div md-virtual-repeat="posts in main.allPublicPosts" md-on-demand
               class="repeated-item fig" >
            <h2>{{posts.message+posts.name+posts.reactions[0].reaction}}</h2><br>
            <div> <p class='fig'><img ng-src="{{posts.image}}" width="65%" height="500"  alt='Фотография'></p>
              <div ng-if="!posts.reactions[0]" ng-cloak><!--ng-if='!posts.reactions[0].reaction'--><br>
                <button type="button" class="btn btn-success" ng-click="main.getReaction(1,posts)" >Yes</button>
                <button type="button" class="btn btn-danger" ng-click="main.getReaction(0,posts)" >No</button></div>
              <div class="progressB" ng-if="posts.reactions[0]" ><br><prbar></prbar></div>

              <br><p>{{posts.User.login}}
              <img  ng-src="{{posts.User.face}}" width="35" height="35" alt='Фотография'>
              <button type="button" class=" check-element animate-show-hide btn btn-success" ng-click="main.showFollows(posts)" ng-show="!posts.User.follows[0]" >Подписаться</button>
                <button  type="button"  ng-show="posts.User.follows[0] " class="btn btn-warning" ng-click="main.deleteFollows(posts)">Отписаться</button></h4>
              </p>

            </div>

          </div>
        </md-virtual-repeat-container>
      </md-content>
    </div>
    <div class="virtualRepeatdemoDeferredLoading ng-cloak" ng-if="main.showPost==1">
      <md-content layout="column">
        <md-virtual-repeat-container id="vertical-container" ng-cloak>
          <div md-virtual-repeat="posts in main.allPublicPosts" md-on-demand
               class="repeated-item fig" >
            <h2>{{posts.message+posts.name+posts.reactions_reaction}}</h2><br>
            <div> <p class='fig'><img ng-src="{{posts.image}}" width="65%" height="500"  alt='Фотография'></p>
              <div ng-if="!posts.reactions_id" ng-cloak><!--ng-if='!posts.reactions[0].reaction'--><br>
                <button type="button" class="btn btn-success" ng-click="main.getReaction(1,posts)" >Yes</button>
                <button type="button" class="btn btn-danger" ng-click="main.getReaction(0,posts)" >No</button></div>
              <div class="progressB" ng-if="posts.reactions_id" ><br><prbar></prbar></div>

              <br><p>{{posts.User_login}}
                <img  ng-src="{{posts.User_face}}" width="35" height="35" alt='Фотография'>
                <button type="button" class=" check-element animate-show-hide btn btn-success" ng-click="main.showFollows(posts)" ng-show="!posts.User_follows[0]" >Подписаться</button>
                <button  type="button"  ng-show="posts.User_follows[0] " class="btn btn-warning" ng-click="main.deleteFollows(posts)">Отписаться</button></h4>
              </p>

            </div>

          </div>
        </md-virtual-repeat-container>
      </md-content>
    </div>
  </div>
</div>
  <!--{{main.promise}}-->
  <!--<div class='fig' ng-repeat='posts in main.promise.result | filter:searchText'> <h2>{{posts.message+posts.name+"&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;"+posts.reactions[0].reaction}}</h2><br>-->
    <!--<div> <p class='fig'><img ng-src="{{posts.image}}" width="60%" height="600" alt='Фотография'></p>-->
      <!--<div ng-show="!posts.reactions[0].reaction">&lt;!&ndash;ng-if='!posts.reactions[0].reaction'&ndash;&gt;<br><button type="button" class="btn btn-success" ng-click="main.getReaction(1,posts)"  >Yes</button><button type="button" class="btn btn-danger" ng-click="main.getReaction(0,posts)" >No</button></div>-->
      <!--<div class="progressB" ng-show="posts.reactions[0].reaction" >&lt;!&ndash; ng-if = 'posts.reactions[0].reaction'&ndash;&gt;<br><prbar></prbar></div><div><h4 >{{posts.User.login}}  <img  ng-src="{{posts.User.face}}" width="35" height="35" alt='Фотография'>-->
        <!--<button type="button" class=" check-element animate-show-hide btn btn-success" ng-click="main.showFollows(posts)" ng-show="!posts.User.follows[0]" >Подписаться</button> <button  type="button"  ng-show="posts.User.follows[0] " class="btn btn-warning" ng-click="main.deleteFollows(posts)">Отписаться</button></h4>-->

        <!--</div>-->
      <!--</div></div>-->
<!--</div>-->



