<div class="container">
<div >
  <acme-navbar creation-date="main.creationDate"></acme-navbar>
</div>
  {{addPost.ll}}
{{addPost.checkbox}}

<div>
  <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter" ng-model="addPost.checkbox">
  <label for="subscribeNews">Приватный пост</label>
</div>
<div class="center-block">
  {{addPost.hello}}
  <script src=""></script>
  <form ng-submit="addPost.submit()">
    <div class="form-group">
      <label for="">HashTeg</label>
      <input type="text" class="form-control" ng-model="addPost.dataUsers.hashteg">
    </div>
    <div class="form-group">
      <label for="">Massage</label>
      <input type="text" class="form-control" ng-model="addPost.dataUsers.massage">
    </div>
    <div class="form-group">
      <label class="btn btn-default" >Add Image<input id="fileUpload" file-model="addPost.dataUsers.image" type="file" hidden> </label>
      <p></p>
    </div>
    <button>Submit</button>
  </form>
{{addPost.dataUsers.image}}
  <div>
  <img src="assets/images/PostAll/image-1543849573883.jpg"  alt='Фотография'>
  </div>
</div>
</div>
