
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div hide-xs flex>

      <!--<h2 class="md-toolbar-tools"></h2>-->
  <div layout="column">
    <div layout="row"   layout-align="space-between center" flex="none">
          <b class=" postText" flex="none"
             style="font-family: 'Lobster', cursive; font-size:200%; color: #0f0f0f; font-weight: 800;">YesNo</b>
        <div  flex="none">
          <md-button  ui-sref="home" class="md-primary md-hue-1" style="font-size: calc(12px + 0.1vh);" >
            Общие посты
          </md-button>
        </div>
        <div  flex="none">
          <md-button ui-sref="follows" class="md-primary md-hue-1" style="font-size: calc(12px + 0.1vh);">
            Пользователи
          </md-button>
        </div>
        <div  flex="none">
          <md-button  ui-sref="addPost" class="md-primary md-hue-1" style="font-size: calc(12px + 0.1vh);">
            Добавить пост
          </md-button>
        </div>
        <div  flex="none" show-gt-sm hide-gt-xs>
          <md-button ui-sref="privatePost" class="md-primary md-hue-1" style="font-size: calc(12px + 0.1vh); border-radius: 3px;">
            Приватные посты
          </md-button>
        </div>
        <div flex="none" show-gt-md hide-gt-xs>
          <md-button  ui-sref="profile" class="md-primary md-hue-1" style="font-size: calc(12px + 0.1vh); border-radius: 3px;">
            Профиль
          </md-button>
        </div>
    </div>
    <!--<div flex="none"  hide-gt-md>-->
      <!--<md-button  ui-sref="profile" class="md-primary md-hue-1" style="font-size: calc(12px + 0.1vh); border-radius: 3px;">-->
        <!--Профиль-->
      <!--</md-button>-->
    <!--</div>-->

  </div>
    <div flex="none"  hide-gt-md layout="row" layout-align="start start">

      <md-button flex="20" hide-gt-md ui-sref="profile" class="md-primary md-hue-1" style="font-size: calc(11px + 0.1vh); border-radius: 3px;">
        Профиль
      </md-button>

        <md-button flex="none" flex="20" flex="none" hide-gt-sm  ui-sref="privatePost" class="md-primary md-hue-1" style="font-size: calc(11px + 0.1vh); border-radius: 3px;">
          Приватные посты

      </div>
    </div>
    </div>





<md-menu hide-gt-xs	show-xs flex>
  <md-button aria-label="YesNo" class="md-icon-button" ng-mouseenter="$mdMenu.open()">
    <md-icon >list</md-icon>
  </md-button>
  <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
    <md-menu-item >
      <md-button ui-sref="home">Home</md-button></md-menu-item>
    <md-menu-item ><md-button ui-sref="follows">Folllows</md-button></md-menu-item>
    <md-menu-item ><md-button ui-sref="addPost">AddPost</md-button></md-menu-item>
    <md-menu-item ><md-button ui-sref="privatePost">Private</md-button></md-menu-item>
    <md-menu-item ><md-button ui-sref="profile">Profile</md-button></md-menu-item>
    </md-menu-item>
  </md-menu-content>
</md-menu>
